.alerta {
    width: 90%;
    padding: 10px 35px;
    margin: 25px auto -5px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.alerta[data-error="true"]{
    border: 1px solid #a70202;
    background: #f07272;
    color: #a70202;
}

.alerta:not([data-error="true"]){
    border: 1px solid #037b1b;
    background: #72f07c;
    color: #037b1b;
}