@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e6f0fa;
}

:focus-visible {
    outline: none;
}

[type="submit"] {
    cursor: pointer;
}

/* Error formulario */

.errorSubmit input:not([placeholder="Ingreso principal"]) {
    border: 1px solid #a70202 !important;
}

.errorSubmitPassword input[type="password"] {
    border: 1px solid #a70202 !important;
}